.link {
    text-decoration: none;
}

.button-link {
    text-decoration: none;
    color: #fff;
}

.button-link:hover {
    color: #fff;
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteBtn {
    color: #fa6565;
}

.deleteBtn:hover {
    color: #af4e4e;
}